//media-querry-setting
$pc-media: 1200px !default;

$sm-pc-media: 992px !default;

$pad-media: 768px !default;

$phone-media: 480px !default;

//width-setting
$max-width: 1200px !default;

$min-width: 320px !default;

//gutter

$gutter: 4px;

//font-size

$font-xl: 32px;
$font-lg: 24px;
$font-md: 18px;
$font-sm: 12px;

//color-setting

$white: #fff;
$dark: #2b2b2b;
$gray: #555757;

$primary:       $dark;
$secondary:     $gray;
$light:         $white;




